@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="style=text-align:center">
    <font color="red">
    <h2 class="display-4">Employee Details Form</h2>
    </font>
</div>

@{
    int EmployeeId = 12;
    string Name = "Akanksha";
    string Adreess = "IT Park";
    double contact = 2154896542;
    string Email = "wahane@gmail.com";
    string city = "Nagpur";


}
<font color="Black" ;>
    <hr style="border:dashed black" ;"width:100px";>
</font>

<h1> <b>Employee Personal Information</b></h1>
<p><b>Employee ID :@EmployeeId</b></p>
<p><b> Name :@Name</b></p>
<p><b>Adreess :@Adreess</b></p>
<p><b> Contact :@contact</b></p>
<p><b>Email :@Email</b></p>
<p><b>City :@city</b></p>
<br />


<font color="Black" ;>
    <hr style="border:dashed black" ;"width:100px";>
</font>
<h1> <b>Department Details</b></h1>

@{
    var e = new Department(12, "ashu", "Web Development", "10AM To 6 AM", "IT Park");
}

<b>Employee ID:@(e.ID)</b>
<br />
<b>Name:@(e.Name)</b>
<br />
<b>Position:@(e.position)</b>;
<br />
<b>Durability:@(e.Work)</b>
<br />
<b>Address:@(e.Comp)</b>






